 
<div id="login_form">
  <h1 id="logo">{{appTitle}}</h1>
  <h2>Login</h2>
  <form action="/login" method="POST">
  <div id="email">
    <label> 
      <input type="email" name="email" placeholder="rockstar@ironhack.com" />
    </label>
    </div>
    <div id="password">
    <label>
      <input type="password" name="password" placeholder="********" />
    </label>
    </div>
    <button id="login_button" type="submit">Login</button>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>