<section id="index">
    <div id="header">
    {{#if userInSession}}        
    <a href="users/user-profile">{{ userInSession.username }}</a>
          <form id="logout-form" action="/logout" method="POST"></form>
        <a href="">Logout</a>
        </form>
        {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Register</a>
    {{/if}}
    </div>
    <div id="description">
        <h1>{{appTitle}} 🚀</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
    <div id="addPost">
        <form action="/">
        <input type="text" name ="link" id="linkField" placeholder="Add your link here">
        <div id="addPostSpecifications">
        <input type="text" name ="title" id="titleField" placeholder="Add the title for the post here">
        <select name="mediaType">
            <option value=""></option>
        </select>
        <select name="topic">
            <option value=""></option>
        </select>
        <input type="submit">
        </div>
        </form>
    </div>

    <div id="tableForPosts">
        <table>
            <colgroup span="4"></colgroup>
                <tr id="tableHeadings">
                    <th>Title</th>
                    <th>added by User</th>
                    <th>Dated added</th>
                    <th>Media</th>
                    <th>Topic</th>
                    <th>Reactions</th>
                    <th>Options</th>
                </tr>
                <tr id="postEntries">
                    <th class="title">examplteTitle</th>
                    <th class="user">exampleUser</th>
                    <th class="dateAdded">exampleData</th>
                    <th class="mediaType">exampleMedia</th>
                    <th class="topic">exampleTopic</th>
                    <th class="reactions">examplereactions</th>
                    <th class="options">exampleOptions</th>

                </tr>
    </table>

    </div>
</section>
